# model_file: path to Model.txt on HDFS
model_file = /path/to/Model.txt

# input: path to file or directory on HDFS
input = /path/to/logs

# pigdir: path to Pig directory on local machine
pigdir = /path/to/pig/dir

# udfdir = path to pig-udfs.jar on local machine
udf_file = /path/to/pig-udfs.jar

# hosts: URIs to couchbase servers
hosts = couchbase1,couchbase2

# bucket: couchbase bucket
bucket = bucketname

# password: couchbase password (if required)
password = secret

