# model_file: path to Model.txt on HDFS
model_file = /path/to/Model.txt

# input: path to file or directory on HDFS
input = /path/to/logs

# pigdir: path to Pig directory on local machine
pigdir = /path/to/pig/dir

# udfdir = path to pig-udfs.jar on local machine
udf_file = /path/to/pig-udfs.jar

# vim:ft=jproperties:nospell:
