# date: target start date
date = YYYY-MM-DD

# count: time interval in days
count = N

# input: HDFS path to results of log_analysis script
input = /path/to/input

# hosts: URIS to couchbase servers
hosts = couchbase1,couchbase2

# bucket: couchbase bucket
bucket = bucketname

# password: couchbase password (if required)
password = secret


# udfdir = path to pig-udfs.jar on local machine
udf_file = /path/to/pig-udfs.jar

# vim:ft=jproperties:nospell:
